################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.log
/.intermediate
/help/Working
/mdl/.jazz3
/mdl/.metadata
/src/dotnet/.vs/shell
/src/dotnet/assemblies/BinaryStudio.DataProcessing/bin
/src/dotnet/assemblies/BinaryStudio.DataProcessing/obj
/src/dotnet/assemblies/BinaryStudio.PlatformUI/bin
/src/dotnet/assemblies/BinaryStudio.PlatformUI/obj
/src/dotnet/assemblies/BinaryStudio.Diagnostics/bin
/src/dotnet/assemblies/BinaryStudio.Diagnostics/obj
/src/dotnet/assemblies/BinaryStudio.DirectoryServices/bin
/src/dotnet/assemblies/BinaryStudio.DirectoryServices/obj
/src/dotnet/assemblies/BinaryStudio.IO/bin
/src/dotnet/assemblies/BinaryStudio.IO/obj
/src/dotnet/assemblies/BinaryStudio.PlatformComponents/bin
/src/dotnet/assemblies/BinaryStudio.PlatformComponents/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.AbstractSyntaxNotation/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.AbstractSyntaxNotation/bin
/src/dotnet/assemblies/BinaryStudio.Serialization/bin
/src/dotnet/assemblies/BinaryStudio.Serialization/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Certificates/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Certificates/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.CryptographyServiceProvider/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.CryptographyServiceProvider/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.CryptographicMessageSyntax/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.CryptographicMessageSyntax/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Xml/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Xml/obj
/src/dotnet/assemblies/BinaryStudio.PortableExecutable/bin
/src/dotnet/assemblies/BinaryStudio.PortableExecutable/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.PlatformUI/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.PlatformUI/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.AbstractSyntaxNotation/BinaryStudio.Security.Cryptography.AbstractSyntaxNotation.xml
/src/dotnet/assemblies/BinaryStudio.Modeling.UnifiedModelingLanguage/obj
/src/dotnet/assemblies/BinaryStudio.Modeling.UnifiedModelingLanguage/bin
/src/dotnet/assemblies/BinaryStudio.Modeling.UnifiedModelingLanguage/BinaryStudio.Modeling.UnifiedModelingLanguage.xml
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Interchange/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Interchange/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Interchange.Database/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Interchange.Database/obj
/src/dotnet/assemblies/BinaryStudio.Security.XAdES/bin
/src/dotnet/assemblies/BinaryStudio.Security.XAdES/obj
/src/dotnet/assemblies/BinaryStudio.Numeric/bin
/src/dotnet/assemblies/BinaryStudio.Numeric/obj
/src/dotnet/assemblies/BinaryStudio.PlatformCore/bin
/src/dotnet/assemblies/BinaryStudio.PlatformCore/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Interchange.Database/BinaryStudio.Security.Cryptography.Interchange.Database.dbmdl
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Interchange.Database/BinaryStudio.Security.Cryptography.Interchange.Database.jfm
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Services/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Services/obj
/src/dotnet/assemblies/BinaryStudio.IO.Compression/bin
/src/dotnet/assemblies/BinaryStudio.IO.Compression/obj
/src/dotnet/assemblies/BinaryStudio.Security.SmartCard/bin
/src/dotnet/assemblies/BinaryStudio.Security.SmartCard/obj
/src/dotnet/xdoc/bin
/src/dotnet/xdoc/obj
/src/dotnet/xslt/bin
/src/dotnet/xslt/obj
/src/dotnet/xhlp/bin
/src/dotnet/xhlp/obj
/src/dotnet/kit/bin
/src/dotnet/kit/obj
/src/dotnet/shell/bin
/src/dotnet/shell/obj
/.intermediate/openssl-1.1.0e
/scripts/csecapi32.dll
/scripts/csecapi64.dll
/scripts/ctspcli32.dll
/scripts/ctspcli64.dll
/scripts/FT.Security.Cryptography.1.0.131.17.zip
/scripts/FT.Security.Cryptography.dll
/scripts/FT.Security.Cryptography.1.0.112.zip
/src/dotnet/testing/UnitTests.BinaryStudio.Numeric/bin
/src/dotnet/testing/UnitTests.BinaryStudio.Numeric/obj
/src/dotnet/srv/bin
/src/dotnet/srv/obj
/src/cc/clrx/.intermediate
/src/dotnet/Debug
/src/dotnet/x64/Debug
/src/dotnet/.vs/client
/src/dotnet/client/bin
/src/dotnet/client/obj
/src/dotnet/sha1/bin
/src/dotnet/sha1/obj
/src/dotnet/samples/SmartCardSample/bin
/src/dotnet/samples/SmartCardSample/obj
/src/dotnet/samples/HResultSample/bin
/src/dotnet/samples/HResultSample/obj
/src/dotnet/samples/DirectoryServiceSample/bin
/src/dotnet/samples/DirectoryServiceSample/obj
/src/dotnet/testing/UnitTests.BinaryStudio.DirectoryServices/bin
/src/dotnet/testing/UnitTests.BinaryStudio.DirectoryServices/obj
/src/dotnet/testing/UnitTests.BinaryStudio.AbstractSyntaxNotation/bin
/src/dotnet/testing/UnitTests.BinaryStudio.AbstractSyntaxNotation/obj
/src/dotnet/samples/PlatformUISample/bin/Debug/net40
/src/dotnet/samples/PlatformUISample/obj
/src/dotnet/samples/PlatformUISample/Controls/Button.xaml
/src/dotnet/assemblies/BinaryStudio.LanguageService/bin
/src/dotnet/assemblies/BinaryStudio.LanguageService/obj
/src/dotnet/assemblies/BinaryStudio.ReportingServices/bin
/src/dotnet/assemblies/BinaryStudio.ReportingServices/obj
/src/dotnet/assemblies/BinaryStudio.HyperTextMarkupLanguage/bin
/src/dotnet/assemblies/BinaryStudio.HyperTextMarkupLanguage/obj
/src/dotnet/xsdsc/bin
/src/dotnet/xsdsc/obj
/.vs
/src/dotnet/assemblies/BinaryStudio.Modeling.PlatformUI/obj
/src/dotnet/samples/XYViewportSample/obj
