################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
*.log
/src/dotnet/shell/bin
/src/dotnet/shell/obj
/src/dotnet/.vs/shell
/src/dotnet/assemblies/BinaryStudio.DataProcessing/bin
/src/dotnet/assemblies/BinaryStudio.DataProcessing/obj
/src/dotnet/assemblies/BinaryStudio.PlatformUI/bin
/src/dotnet/assemblies/BinaryStudio.PlatformUI/obj
/src/dotnet/assemblies/BinaryStudio.Diagnostics/bin
/src/dotnet/assemblies/BinaryStudio.Diagnostics/obj
/src/dotnet/assemblies/BinaryStudio.DirectoryServices/bin
/src/dotnet/assemblies/BinaryStudio.DirectoryServices/obj
/src/dotnet/assemblies/BinaryStudio.IO/bin
/src/dotnet/assemblies/BinaryStudio.IO/obj
/src/dotnet/assemblies/BinaryStudio.PlatformComponents/bin
/src/dotnet/assemblies/BinaryStudio.PlatformComponents/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.AbstractSyntaxNotation/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.AbstractSyntaxNotation/bin
/src/dotnet/assemblies/BinaryStudio.Serialization/bin
/src/dotnet/assemblies/BinaryStudio.Serialization/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Certificates/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Certificates/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.CryptographyServiceProvider/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.CryptographyServiceProvider/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.CryptographicMessageSyntax/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.CryptographicMessageSyntax/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Xml/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.Xml/obj
/src/dotnet/assemblies/BinaryStudio.PortableExecutable/bin
/src/dotnet/assemblies/BinaryStudio.PortableExecutable/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.PlatformUI/bin
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.PlatformUI/obj
/src/dotnet/xdoc/bin
/src/dotnet/xdoc/obj
/src/dotnet/xslt/bin
/src/dotnet/xslt/obj
/src/dotnet/assemblies/BinaryStudio.Security.Cryptography.AbstractSyntaxNotation/BinaryStudio.Security.Cryptography.AbstractSyntaxNotation.xml
/help/Working
/src/dotnet/assemblies/BinaryStudio.Modeling.UnifiedModelingLanguage/obj
/src/dotnet/assemblies/BinaryStudio.Modeling.UnifiedModelingLanguage/bin
/src/dotnet/xhlp/bin
/src/dotnet/xhlp/obj
/src/dotnet/assemblies/BinaryStudio.Modeling.UnifiedModelingLanguage/BinaryStudio.Modeling.UnifiedModelingLanguage.xml
/mdl/.jazz3
/mdl/.metadata
