################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/dotnet/.vs/shell
/src/dotnet/assemblies/BinaryStudio.DataProcessing/bin/Release/net45
/src/dotnet/assemblies/BinaryStudio.DataProcessing/obj
/src/dotnet/assemblies/BinaryStudio.PlatformUI/bin/Release/net45
/src/dotnet/assemblies/BinaryStudio.PlatformUI/obj
/src/dotnet/shell/bin
/src/dotnet/shell/obj
/src/dotnet/assemblies/BinaryStudio.DataProcessing/bin/Release/netcoreapp3.1
/src/dotnet/assemblies/BinaryStudio.PlatformUI/bin/Release/netcoreapp3.1
/src/dotnet/assemblies/BinaryStudio.DataProcessing/bin/Release/net5.0-windows
/src/dotnet/assemblies/BinaryStudio.PlatformUI/bin/Release/net5.0-windows
